{
	email admin@tharavad.xyz
}

tharavad.xyz {
	tls {
		dns hetzner_cloud {env.HETZNER_TOKEN}
		propagation_delay 2m
	}
	root * /var/www/tharavad
	file_server
}

auth.tharavad.xyz {
	tls {
		dns hetzner_cloud {env.HETZNER_TOKEN}
		propagation_delay 2m
	}
	reverse_proxy 10.10.0.2:9000
}

vault.tharavad.xyz {
	tls {
		dns hetzner_cloud {env.HETZNER_TOKEN}
		propagation_delay 2m
	}
	reverse_proxy 10.10.0.2:8181
}

headscale.tharavad.xyz {
	tls {
		dns hetzner_cloud {env.HETZNER_TOKEN}
		propagation_delay 2m
	}
	reverse_proxy 10.10.0.2:8080
}

wiki.tharavad.xyz {
	tls {
		dns hetzner_cloud {env.HETZNER_TOKEN}
		propagation_delay 2m
	}
	root * /var/www/tharavad/wiki
	file_server
}

*.tharavad.xyz {
	tls {
		dns hetzner_cloud {env.HETZNER_TOKEN}
		propagation_delay 2m
	}
	reverse_proxy 10.10.0.2:80
}

chat.tharvad.xyz {
tls {
		dns hetzner_cloud {env.HETZNER_TOKEN}
		propagation_delay 2m
	}
	reverse_proxy 10.70.124.77:8065
}
